<nav class="navbar navbar-expand-custom navbar-mainbg fixed-top">
    <a class="navbar-brand navbar-logo">Build CV</a>
    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="hori-selector">
                <div class="left"></div>
                <div class="right"></div>
            </div>
            <li class="nav-item">
                <a class="nav-link" href="" routerLink="/home"><i class="fas fa-tachometer-alt"></i>Home</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="" routerLink="/temp_one"><i class="far fa-address-book"></i>Templets</a>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link"><i class="far fa-clone"></i>Components</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="" routerLink="/filldetails"><i class="far fa-copy"></i>Fill Details</a>
            </li>
        </ul>
    </div>

    <div class="dropdown2">
        <button class="dropbtn2">Templets</button>
        <div class="dropdown-content2">
            <a>{{data}}</a>
            <a href="#" (click)="logout()" style="color: red;">Logout -></a>
        </div>
    </div>


    <div class="dropdown">
        <button class="dropbtn login_icon"></button>
        <div class="dropdown-content">
            <a>{{data}}</a>
            <a href="#" (click)="logout()" style="color: red;">Logout -></a>
        </div>
    </div>
</nav>