.container {
    background-image: url("/assets/backimage.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 1%;
    margin-left: 2%;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin-top: 13%;
    float: left;
}