<app-header></app-header>
<div class="container">

    <div class="card">
        <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
            <img src="assets/resume1.jpg" class="img-fluid" />
            <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Freshers</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="" class="btn btn-primary" (click)="visit_temp1()" routerLink="">{{button_name}}</a>
        </div>
    </div>

    <div class="card">
        <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
            <img src="assets/resume2.jpg" class="img-fluid" />
            <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Experience</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="" class="btn btn-primary" (click)="visit_temp2()" routerLink="">{{button_name}}</a>
        </div>
    </div>

    <!-- <div class="card">
        <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid" />
            <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#!" class="btn btn-primary">{{button_name}}</a>
        </div>
    </div> -->
</div>
<app-footer></app-footer>